@model TaskManager.Data.Entities.Tarea

@{
    ViewData["Title"] = "Details";
    Layout = null;
}


<div>
    
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaVencimiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaVencimiento)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Completada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Completada)
        </dd>
        <dt class=" col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Usuario.FullName)
        </dd>
    </dl>
    <hr />
</div>
<div>   
    <a onclick="showInPopup('@Url.Action("Edit", "Tareas", new { id = Model?.Id }, Context.Request.Scheme)' ,
                    'Actualizar Tarea')" class="btn btn-outline-warning">Editar</a>
    <a asp-action="Index" class=" btn btn-outline-success">Cancelar</a>
</div>
